{template 'web/_header'}
<div class="w1200 m0a">
{if $operation != 'post'}
{template 'web/shop/tabs'}
{/if}
<script type="text/javascript" src="resource/js/lib/jquery-ui-1.10.3.min.js"></script>


{if $operation == 'display'}
 
<div class="main rightlist">
    <div class="panel panel-info">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form action="./index.php" method="get" class="form-horizontal" role="form">
                <input type="hidden" name="c" value="site" />
                <input type="hidden" name="a" value="entry" />
                <input type="hidden" name="m" value="sz_yi" />
                <input type="hidden" name="do" value="shop" />
                <input type="hidden" name="p"  value="traffic" />
                <input type="hidden" name="op" value="display" />
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">关键字</label>
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                        <input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">状态</label>
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                        <select name="status" class='form-control'>
							<option value="" {if $_GPC['status'] == ''} selected{/if}></option>
                            <option value="1" {if $_GPC['status']== '1'} selected{/if}>上架</option>
                            <option value="0" {if $_GPC['status'] == '0'} selected{/if}>下架</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-sm-2 col-lg-2">
                        <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    </div>
                </div>

                <div class="form-group">
                </div>
            </form>
        </div>
    </div>
    <style>
        .label{cursor:pointer;}
    </style>
	<div class="panel panel-default">
        <div class="panel-body">
			<a class='btn btn-primary' href="{php echo $this->createWebUrl('shop/goods',array('op'=>'post'))}"><i class='fa fa-plus'></i> 添加商品</a>
        </div>
	</div>
    <form action="" method="post">
		<div class="panel panel-default">
			<div class="panel-body table-responsive">
				<table class="table table-hover">
					<thead class="navbar-inner">
						<tr>
							<th width="6%">ID</th>
							<th width="6%">排序</th>
							<th width="6%">商品</th>
							<th width="32%">&nbsp;</th>
<!-- 							<th width="26%">属性</th> -->
							<th width="10%">价格</th>
							<th width="10%">库存</th>
							<th width="9%">销量</th>
							<th width="9%">状态</th>
							<th width="14%">操作</th>
						</tr>
					</thead>
					<tbody>
						{loop $list $item}
						<tr>

							<td>{$item['id']}</td>
							<td>
								{ifp 'shop.goods.edit'}
								<input type="text" class="form-control" name="displayorder[{$item['id']}]" value="{$item['displayorder']}">
								{else}
								{$item['displayorder']} 
								{/if}
							</td>
							<td title="{$item['title']}">
								<img src="{php echo tomedia($item['thumb'])}" style="width:40px;height:40px;padding:1px;border:1px solid #ccc;"  />
							</td>
							<td title="{$item['title']}" class='tdedit'>
								{if !empty($category[$item['pcate']])}
								<span class="text-danger">[{$category[$item['pcate']]['name']}]</span>
								{/if}
								{if !empty($category[$item['ccate']])}
								<span class="text-info">[{$category[$item['ccate']]['name']}]</span>
								{/if}
								{if !empty($category[$item['tcate']]) && intval($shopset['catlevel'])==3}
								<span class="text-info">[{$category[$item['tcate']]['name']}]</span>
								{/if}
								<br/>
								{ifp 'shop.goods.edit'}

								<span class=' fa-edit-item' style='cursor:pointer'><i class='fa fa-pencil' style="display:none"></i> <span class="title">{$item['title']}</span> </span>
								<div class="input-group goodstitle" style="display:none" data-goodsid="{$item['id']}">
									<input type='text' class='form-control' value="{$item['title']}"   />
									<div class="input-group-btn">
										<button type="button" class="btn btn-default" data-goodsid='{$item['id']}' data-type="title"><i class="fa fa-check"></i></button>
									</div>
								</div>
								{else}
								{$item['title']}
								{/if}
							</td>
							<td class='tdedit'>
								{if $item['hasoption']==1}
								{ifp 'shop.goods.edit'}
								<span class='tip' title='多规格不支持快速修改'>{$item['marketprice']}</span>
								{else}
								{$item['marketprice']}
								{/if}
								{else}
								{ifp 'shop.goods.edit'}

								<span class=' fa-edit-item' style='cursor:pointer'><i class='fa fa-pencil' style="display:none"></i> <span class="title">{$item['marketprice']}</span> </span>
								<div class="input-group" style="display:none" data-goodsid="{$item['id']}">
									<input type='text' class='form-control' value="{$item['marketprice']}"   />
									<div class="input-group-btn">
										<button type="button" class="btn btn-default" data-goodsid='{$item['id']}' data-type="marketprice"><i class="fa fa-check"></i></button>
									</div>
								</div>
								{else}
								{$item['marketprice']}
								{/if}{/if}

							</td>

							<td class='tdedit'>
								{if $item['hasoption']==1}
								{ifp 'shop.goods.edit'}
								<span class='tip' title='多规格不支持快速修改'>{$item['total']}</span>
								{else}
								{$item['total']}
								{/if}
								{else}
								{ifp 'shop.goods.edit'}

								<span class=' fa-edit-item' style='cursor:pointer'><i class='fa fa-pencil' style="display:none"></i> <span class="title">{$item['total']}</span> </span>
								<div class="input-group" style="display:none" data-goodsid="{$item['id']}">
									<input type='text' class='form-control' value="{$item['total']}"   />
									<div class="input-group-btn">
										<button type="button" class="btn btn-default" data-goodsid='{$item['id']}' data-type="total"><i class="fa fa-check"></i></button>
									</div>
								</div>
								{else}
								{$item['total']}
								{/if}{/if}

							</td>
							<td>{$item['salesreal']}</td>
							<td>

                                {if p('supplier')}
                                {if $_W['isfounder'] == 1}
                                    <label data='{$item['status']}' class='label  label-default {if $item['status']==1}label-info{/if}' {ifp 'shop.goods.edit'}onclick="setProperty(this,{$item['id']},'status')"{/if}>{if $item['status']==1}上架{else}下架{/if}</label>
                                {else}
                                    <?php $roleid = pdo_fetchcolumn('select id from' . tablename('sz_yi_perm_role') . ' where uniacid = '.$_W['uniacid'].' and status1=1')?>
                                    <?php $userroleid = pdo_fetchcolumn('select roleid from' . tablename('sz_yi_perm_user') . ' where uid=' . $_W['uid'])?>
                                    {if $roleid == $userroleid}
                                        <label data='{$item['status']}' class='label  label-default {if $item['status']==1}label-info{/if}' >
                                    {else}
                                        <label data='{$item['status']}' class='label  label-default {if $item['status']==1}label-info{/if}' {ifp 'shop.goods.edit'}onclick="setProperty(this,{$item['id']},'status')"{/if}>
                                    {/if}
                                    {if $item['status']==1}上架{else}下架{/if}
                                    </label>
                                {/if}
                            {else}
                                <label data='{$item['status']}' class='label  label-default {if $item['status']==1}label-info{/if}' {ifp 'shop.goods.edit'}onclick="setProperty(this,{$item['id']},'status')"{/if}>{if $item['status']==1}上架{else}下架{/if}</label>
                            {/if}

							</td>
							<td style="position:relative;">
								<a href="javascript:;" data-url="{php echo $this->createMobileUrl('shop/detail', array('id' => $item['id']))}"  title="复制连接" class="btn btn-default btn-sm js-clip"><i class="fa fa-link"></i></a>
								{ifp 'shop.goods.edit|shop.goods.view'}<a href="{php echo $this->createWebUrl('shop/goods', array('id' => $item['id'], 'op' => 'post'))}"class="btn btn-sm btn-default" title="{ifp 'shop.goods.edit'}编辑{else}查看{/if}"><i class="fa fa-pencil"></i></a>{/if}
								{ifp 'shop.goods.delete'}<a href="{php echo $this->createWebUrl('shop/goods', array('id' => $item['id'], 'op' => 'delete'))}" onclick="return confirm('确认删除此商品？');
										return false;" class="btn btn-default  btn-sm" title="删除"><i class="fa fa-times"></i></a>{/if}
							</td>
						</tr>
						<tr>
						<td  colspan="10" style="text-align: right;padding: 6px 0;border-top:none;">
						<label data='{$item['isnew']}' class='label label-default text-default {if $item['isnew']==1}label-info text-pinfo{else}{/if}'   {ifp 'shop.goods.edit'}onclick="setProperty(this,{$item['id']},'new')"{/if}>新品</label>-

						<label data='{$item['ishot']}' class='label label-default text-default {if $item['ishot']==1}label-info text-pinfo{/if}' {ifp 'shop.goods.edit'}onclick="setProperty(this,{$item['id']},'hot')"{/if}>热卖</label>-

						<label data='{$item['isrecommand']}' class='label label-default text-default {if $item['isrecommand']==1}label-info text-pinfo{/if}' {ifp 'shop.goods.edit'}onclick="setProperty(this,{$item['id']},'recommand')"{/if}>推荐</label>-

						<label data='{$item['isdiscount']}' class='label label-default text-default {if $item['isdiscount']==1}label-info text-pinfo{/if}' {ifp 'shop.goods.edit'}onclick="setProperty(this,{$item['id']},'discount')"{/if}>促销</label>-

						<label data='{$item['issendfree']}' class='label label-default text-default {if $item['issendfree']==1}label-info text-pinfo{/if}' {ifp 'shop.goods.edit'}onclick="setProperty(this,{$item['id']},'sendfree')"{/if}>包邮</label>-

						<label data='{$item['istime']}' class='label label-default text-default {if $item['istime']==1}label-info text-pinfo{/if}' {ifp 'shop.goods.edit'}onclick="setProperty(this,{$item['id']},'time')"{/if}>限时卖</label>-

						<label data='{$item['isnodiscount']}' class='label label-default text-default {if $item['isnodiscount']==1}label-info text-pinfo{/if}' {ifp 'shop.goods.edit'}onclick="setProperty(this,{$item['id']},'nodiscount')"{/if}>不参与折扣</label>

						</td>
						</tr>
						{/loop}
						<tr>
							<td colspan='10'>
								{ifp 'shop.goods.add'}
								<a class='btn btn-primary' href="{php echo $this->createWebUrl('shop/goods',array('op'=>'post'))}"><i class='fa fa-plus'></i> 添加商品</a>
								{/if}
								{ifp 'shop.goods.edit'}
								<input name="submit" type="submit" class="btn btn-default" value="提交排序">
								<input type="hidden" name="token" value="{$_W['token']}" />
								{/if}

							</td>
						</tr>

						</tr>
					</tbody>
				</table>
				{$pager}
			</div>
		</div>
	</form>
</div>
</div> 


{/if}










{template 'web/_footer'}